@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.hero-container {
  position: relative;
  background-image: url("/public/images/hero-wallpaper.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container h1 {
  font-family: "Lobster", sans-serif;
  font-weight: lighter;
  font-size: 6rem;
  text-shadow: 3px 2px 1px rgb(255, 89, 0);
}

.hero-heading {
  z-index: 2;
  color: white;
  text-align: center;
  font-size: 3rem;
}

.hero-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.search-form {
  z-index: 5;
}

@media (max-width: 768px) {
  .hero-heading {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .hero-heading {
    font-size: 1.5rem;
  }
}
