.carousel-main-container {
  width: 100%;
  background-color: #3a2618;
  color: #9a8873;
  margin: 10px;
  padding: 7em 0 7em 0;
  transition: 0.5s ease-in;
  height: 15vh;
  margin-bottom: 3em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
}

.button-container {
  width: 90vw;
}

.review-item {
  padding-top: 25px;
  padding-bottom: 25px;
}
