.item-cards {
  height: 100%;
}

.item-cards img {
  height: 50%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn {
  background-color: mediumseagreen;
  border: 1px solid gray;
}
