.item-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  padding: 10px 0;
}

.item-title {
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
