.custom-navbar-style {
  justify-content: right;
}

.nav-link:hover {
  text-decoration: underline;
  background-color: antiquewhite;
  transition: 0.5s ease;
  border-radius: 10px;
}

.navbar-color,
.navbar {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
